<%= month_calendar events: @events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.starts_at.strftime('%H:%M') + ' ' + event.name %>
    </div>
  <% end %>
<% end %>
